{% extends "base2.html" %} 

{% block title %} Services {% endblock title %}

{% block body %}
 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title"  style="color:white;">
        <h2>Our Services</h2>
        <p>Discover what we offer</p>
      </div>

      <div class="row">
        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-receipt"></i></div>
            <h4>Personalized Fitness Plans</h4>
            <p>
              Get tailor-made workout plans to suit your individual needs
              and goals.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-calendar"></i></div>
            <h4>Scheduled Sessions</h4>
            <p>
              Schedule and manage your workout sessions conveniently with
              our integrated calendar feature.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-user-check"></i></div>
            <h4>Trainer Connection</h4>
            <p>
              Connect with certified trainers and receive personalized
              guidance and support.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-chart"></i></div>
            <h4>Progress Tracking</h4>
            <p>
              Monitor your progress and track your fitness journey with
              detailed analytics and reports.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-bar-chart"></i></div>
            <h4>Performance Analysis</h4>
            <p>
              Analyze your performance metrics and make data-driven
              decisions to optimize your workouts.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-group"></i></div>
            <h4>Community Support</h4>
            <p>
              Join a supportive community of like-minded individuals for
              motivation and encouragement.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- End Services Section -->

{% endblock body %}
